.detail-container{
  margin: 20px;
  display: flex;
  justify-content: center;
}
detail index .detail-container{
  flex-direction: column;
}
.threesixty{
  margin-bottom: 20px;
}
.full-width{
  display: block;
}
.design-area{
  position: absolute;
  left:50%;
  top: 25%;
  width: 30%;
  margin-left: -15%;
  height: 75%;
}
.design-area-item{
  height: 8%;
  margin-bottom: 15%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'ChangaOne'
}
#number-area{
  height: 40%;
  font-size: 20vw;
  font-family: fantasy;
}
.threesixty_images{
  cursor: ew-resize
}