html, body{
  height: 100%;
  font-family: "微软雅黑", "黑体","宋体",Arial, Helvetica, sans-serif;
  background: #333;
  margin: 0;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.text-center{
  text-align: center
}
h1,h2,h3,h4,h5,h6{
  color:#fff;
}
